/* Header css*/

.tab {
  position: fixed; /* Fixed position to stay on the right side */
  top: 20px; 
  right: 0; /* Align to the right */
  width: 300px; /* Width of the tab */
  background-color: #262626; /* Background color for the tab */
  padding: 20px; /* Space inside the tab */
  border-radius: 8px;
  padding: 20px;
  z-index: 10;
  height: calc(100vh - 40px); /* Full height minus the top space */
  overflow-y: auto; /* Allow scrolling if content overflows */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between the header and task list */
  transition: transform 0.3s ease; /* Smooth transition for sliding */
}

/*header css */
.header {
    background: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: relative; 
    border-radius: 8px;
    padding: 10px; 
    color: white;
  }
  
  .header h1 {
    font-size: 24px;
    text-align: center;
  }

  /*new task */
  .newTask {
    position: absolute;
    bottom: -27px;
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 0 1rem;
  }
  
  .newTask input {
    height: 100%;
    flex: 1;
    color: #fff;
    background: #262626;
    border: 1px solid #0D0D0D;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 16px;
  }
  
  .newTask input::placeholder {
    color: #808080;
  }
  
  .newTask button {
    height: 100%;
    padding: 0 16px;
    background: #1E6F9F;
    color: #fff;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 14px;
  }



/* Task  */ 
.task {
    width: 100%;
    background: #262626;
    border: 1px solid #333333;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  
  .task p {
    font-size: 14px;
    line-height: 19px;
    color: #F2F2F2;
    margin-right: auto;
  }
  
  p.textCompleted {
    color: #808080;
    text-decoration: line-through;
  }
  
  .checkContainer {
    width: 18px;
    height: 18px;
    background: none;
    border: none;
  }
  
  .checkContainer div {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    border: 2px solid #4EA8DE;
  }
  
  .checkContainer svg {
    width: 100%;
    height: 100%;
    color: #5E60CE;
  }
  
  .deleteButton {
    background: none;
    border: none;
    color: #808080;
  }



/* Tasks */
.tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  
  .header > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .header p {
    color: #4EA8DE;
    font-size: 14px;
    font-weight: 700;
  }
  
  .textPurple {
    color: #8284FA ;
  }
  
  .header span {
    background: #333333;
    color: #D9D9D9;
    padding: 3px 9px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }