/* overall body */
body {
  height: 100vh;
  /* Ensure the body takes the full height of the viewport */
  margin: 0;
  /* Remove default margin */
  display: flex;
  justify-content: flex-end;
  background-color: #f5f5f5;
  width: 100vw;
  position: fixed;
}

/* right side tab */
.right {
  background: rgb(238, 238, 214);
  top: 0;
  right: 0;
  height: 100vh;
  width: 310px;
  position: fixed;
  /* padding for inner spacing */
  padding: 20px;
  /* allows scrolling if content overflows */
  overflow-y: auto;
  box-sizing: border-box;
  flex-direction: column;
}

.header {
  background: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
}

/* header title styling */
.header h1 {
  /*padding: 10px;*/
  color: rgb(106, 67, 28);
  text-align: center;
  font-size: 1.2em;
  font-weight: 700px;
  /* adds space below title */
  margin-bottom: 20px;
}

/* new task form styling */
.newTask {
  display: flex;
  position: absolute;
  height: 40px;
  bottom: -27px;
  top: 100px;
  right: 20px;
  left: 0px;
  /*width: calc(100% - 40px);*/
  gap: 8px;
  margin-bottom: 20px;
  flex-direction: column;
  /*padding: 0 0.5rem;
  /*align-items: center;*/
}

.newTask input {
  flex: 1;
  height: 100%;
  color: #ffffff;
  background: #262626;
  border: 1px solid #0D0D0D;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
}

.newTask input::placeholder {
  color: #8b8178;
}

.newTask button {
  height: 40px;
  padding: 8px 16px;
  background: #c69a6e;
  color: #fff;
  border: none;
  border-radius: 8px;
  /*display: flex;
  align-items: center;*/
  font-weight: 650;
  font-size: 14px;
}

.tasksheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* tasks container styling */
.tasks {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  margin-top: 200px;
  /* Space between the header and task list */
  padding: 0 1rem;
  /* Padding for the tasks container */
  /*width: 100%; /* Full width 
  color: black;
  /*background: #262626; /* Task background */
  /*border: 1px solid #333333; /* Border color */
  /*padding: 16px; /* Padding inside task */
  /*border-radius: 8px; /* Rounded corners 
  display: flex; /* Flexbox for task layout */
  /*align-items: center; /* Center items vertically 
  justify-content: space-between; /* Space between items 
  gap: 12px; /* Space between items */
}

.tasks header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tasks p {
  font-size: 14px;
  /* Font size for task text */
  line-height: 15px;
  /* Line height */
  /*margin-right: auto; /* Margin to push text left */
  color: rgb(69, 121, 69);
  font-weight: 700;
}

.tasks span {
  background: #333333;
  color: #D9D9D9;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.taskslist {
  display: flex;
  flex-direction: column;
  gap: 12px;
}