/* overall body */
body {
  height: 100vh;
  /* Ensure the body takes the full height of the viewport */
  margin: 0;
  /* Remove default margin */
  display: flex;
  justify-content: flex-end;
  background-color: #f5f5f5;
  width: 100vw;
  position: fixed;
}

/* right side tab */
.right {
  background: rgb(238, 238, 214);
  flex-direction: column;
  display: flex;
  /* Stack items vertically */
  height: 100vh;
  width: 310px;
  position: fixed;
  /* Use fixed positioning */
  top: 0;
  /* Position at the top */
  right: 0;
  align-items: center;
  justify-content: flex-start;
  padding-top: 70px;
}

/* header title styling */
.header h1 {
  /*padding: 10px;*/
  color: rgb(106, 67, 28);
  text-align: center;
  font-size: 1.2em;
  font-weight: 700px;
  /* adds space below title */
  margin-bottom: 20px;
}

/* new task form styling */
.newTask {
  display: flex;
  flex-direction: row;
  /*position: absolute;
  height: 40px;
  bottom: -27px;
  top: 100px;
  right: 20px;
  left: 0px;
  /*width: calc(100% - 40px);*/
  gap: 8px;
  /*padding: 0 0.5rem;
  /*align-items: center;*/
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

.newTask input {
  flex: 1;
  height: 100%;
  color: #ffffff;
  background: #262626;
  border: 1px solid #0D0D0D;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
}

.newTask input::placeholder {
  color: #8b8178;
}

.newTask button {
  /*height: 40px;
  padding: 0 16px;
  background: #c69a6e;
  color: #fff;
  border: none;
  border-radius: 8px;
  /*display: flex;
  align-items: center;*/
  /*font-weight: 650;
  font-size: 14px;*/
  padding: 5px 10px;
}

/* Task styles */
.tasks {
  /*margin-top: 20px; /* Space between the header and task list */
  /*padding: 10px; /* Padding for the tasks container */
  width: 100%;
  /* Full width */
  max-width: 736px;
  margin: 0 auto;
  padding: 0 1rem;
  /*color: black;
  /*background: #262626; /* Task background */
  /*border: 1px solid #333333; /* Border color */
  /*padding: 16px; /* Padding inside task */
  /*border-radius: 8px; /* Rounded corners */
  /*display: flex; /* Flexbox for task layout */
  /*align-items: center; /* Center items vertically */
  /*justify-content: space-between; /* Space between items */
  /*gap: 12px; /* Space between items */
}

.tasks p {
  font-size: 14px;
  /* Font size for task text */
  line-height: 15px;
  /* Line height */
  /*margin-right: auto; /* Margin to push text left */
  color: rgb(69, 121, 69);
}

.textCompleted {
  color: #808080;
  /* Color for completed tasks */
  text-decoration: line-through;
  /* Strike-through for completed */
}

.checkContainer {
  width: 18px;
  /* Check container size */
  height: 18px;
  /* Check container size */
  background: none;
  /* No background */
  border: none;
  /* No border */
}

.checkContainer div {
  width: 100%;
  /* Full width for the check */
  height: 100%;
  /* Full height for the check */
  border-radius: 999px;
  /* Fully rounded */
  border: 2px solid #4EA8DE;
  /* Border color */
}

.checkContainer svg {
  width: 100%;
  /* Full width for SVG */
  height: 100%;
  /* Full height for SVG */
  color: #5E60CE;
  /* SVG color */
}

.deleteButton {
  background: none;
  /* No background */
  border: none;
  /* No border */
  color: #808080;
  /* Button text color */
}